<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h1>All Listings</h1>
    <form method="GET" action="/listing/new">
        <button>Create New listing</button>
    </form>
    <ul>
        <% for(let listing of list) { %>
        <li><a href="/listing/<%= listing._id %>"> <%= listing.title %> </a></li>
        <% } %>
    </ul>
</body>
</html>